{"openapi":"3.0.0","info":{"title":"Ideashop API","description":"Ideashop API Document","termsOfService":"https:\/\/www.ideasoft.com.tr\/terms","contact":{"name":"Ideasoft Api Team","url":"https:\/\/www.ideasoft.com.tr\/destek","email":"apisupport@ideasoft.com.tr"},"version":"2.5.0"},"servers":[{"url":"https:\/\/testaa01.myideasoft.ide"}],"paths":{"\/oauth\/v2\/token":{"get":{"tags":["Token"],"summary":"Token GET","description":"Token GET","responses":{"default":{"description":""}}},"post":{"tags":["Token"],"summary":"Token POST","description":"Token POST","responses":{"default":{"description":""}}}},"\/oauth\/v2\/auth":{"get":{"tags":["Authorize"],"summary":"Authorize GET","description":"Authorize GET","responses":{"default":{"description":""}}},"post":{"tags":["Authorize"],"summary":"Authorize POST","description":"Authorize POST","responses":{"default":{"description":""}}}},"\/admin-api\/abandoned_carts":{"get":{"tags":["AbandonedCart"],"summary":"AbandonedCart LIST","description":"AbandonedCart cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested AbandonedCarts per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"member","in":"query","description":"Member Id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"firstname","in":"query","description":"Customer Firstname","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"surname","in":"query","description":"Customer Surname","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"email","in":"query","description":"Customer Email","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"startCreatedAt","in":"query","description":"Start of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"endCreatedAt","in":"query","description":"End of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"startUpdatedAt","in":"query","description":"Start of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"endUpdatedAt","in":"query","description":"End of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"AbandonedCart search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/AbandonedCart"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["abandoned_cart_read"]}]}},"\/admin-api\/abandoned_carts\/count":{"get":{"tags":["AbandonedCart"],"summary":"AbandonedCart COUNT","description":"AbandonedCart cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested AbandonedCarts per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"member","in":"query","description":"Member Id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"firstname","in":"query","description":"Customer Firstname","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"surname","in":"query","description":"Customer Surname","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"email","in":"query","description":"Customer Email","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"startCreatedAt","in":"query","description":"Start of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"endCreatedAt","in":"query","description":"End of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"startUpdatedAt","in":"query","description":"Start of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"endUpdatedAt","in":"query","description":"End of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"AbandonedCart search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/AbandonedCart"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["abandoned_cart_read"]}]}},"\/admin-api\/abandoned_carts\/{cartId}\/send_mail":{"post":{"tags":["AbandonedCart"],"summary":"AbandonedCart POST","description":"AbandonedCart sendMailAction","parameters":[{"name":"cartId","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131."}},"security":[{"bearerAuth":[]},{"OAuth2":["abandoned_cart_update"]}]}},"\/admin-api\/abandoned_orders":{"get":{"tags":["AbandonedOrder"],"summary":"AbandonedOrder LIST","description":"AbandonedOrder cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested AbandonedCarts per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"member","in":"query","description":"Member Id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"visitorType","in":"query","description":"Visitor type search filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"firstname","in":"query","description":"Customer Firstname","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"surname","in":"query","description":"Customer Surname","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"email","in":"query","description":"Customer Email","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"startCreatedAt","in":"query","description":"Start of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"endCreatedAt","in":"query","description":"End of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"startUpdatedAt","in":"query","description":"Start of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"endUpdatedAt","in":"query","description":"End of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"AbandonedCart search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/AbandonedOrder"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["abandoned_order_read"]}]}},"\/admin-api\/abandoned_orders\/count":{"get":{"tags":["AbandonedOrder"],"summary":"AbandonedOrder COUNT","description":"AbandonedOrder cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested AbandonedCarts per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"member","in":"query","description":"Member Id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"visitorType","in":"query","description":"Visitor type search filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"firstname","in":"query","description":"Customer Firstname","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"surname","in":"query","description":"Customer Surname","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"email","in":"query","description":"Customer Email","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"startCreatedAt","in":"query","description":"Start of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"endCreatedAt","in":"query","description":"End of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"startUpdatedAt","in":"query","description":"Start of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"endUpdatedAt","in":"query","description":"End of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"AbandonedCart search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/AbandonedOrder"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["abandoned_order_read"]}]}},"\/admin-api\/abandoned_orders\/{cartId}\/send_mail":{"post":{"tags":["AbandonedOrder"],"summary":"AbandonedOrder POST","description":"AbandonedOrder sendMailAction","parameters":[{"name":"cartId","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131."}},"security":[{"bearerAuth":[]},{"OAuth2":["abandoned_order_update"]}]}},"\/admin-api\/acl_resources":{"get":{"tags":["AclResource"],"summary":"AclResource LIST","description":"AclResource cgetAction","responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131."}},"security":[{"bearerAuth":[]}]}},"\/admin-api\/active_carts":{"get":{"tags":["ActiveCart"],"summary":"ActiveCart LIST","description":"ActiveCart cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested AbandonedCarts per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"customerFirstname","in":"query","description":"Customer Firstname","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"customerSurname","in":"query","description":"Customer Surname","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"customerEmail","in":"query","description":"Customer Email","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"state","in":"query","description":"A\u015fama","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"AbandonedCart search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ActiveCart"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["active_cart_read"]}]}},"\/admin-api\/active_carts\/count":{"get":{"tags":["ActiveCart"],"summary":"ActiveCart COUNT","description":"ActiveCart cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested AbandonedCarts per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"customerFirstname","in":"query","description":"Customer Firstname","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"customerSurname","in":"query","description":"Customer Surname","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"customerEmail","in":"query","description":"Customer Email","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"state","in":"query","description":"A\u015fama","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"AbandonedCart search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ActiveCart"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["active_cart_read"]}]}},"\/admin-api\/banks":{"get":{"tags":["Bank"],"summary":"Bank LIST","description":"Bank cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested Blacklists per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"Blacklist search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Bank"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["payment_setting_read"]}]}},"\/admin-api\/banks\/count":{"get":{"tags":["Bank"],"summary":"Bank COUNT","description":"Bank cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested Blacklists per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"Blacklist search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Bank"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["payment_setting_read"]}]}},"\/admin-api\/banks\/{id}":{"get":{"tags":["Bank"],"summary":"Bank GET","description":"Bank getAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Bank"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["payment_setting_read"]}]}},"\/admin-api\/banners":{"get":{"tags":["Banner"],"summary":"Banner LIST","description":"Banner cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested banners per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"banner search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Banner"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["banner_read"]}]},"post":{"tags":["Banner"],"summary":"Banner POST","description":"Banner postAction","requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Banner"}}}},"responses":{"201":{"description":"Olu\u015fturma i\u015flemi (POST) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Banner"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["banner_create"]}]}},"\/admin-api\/banners\/count":{"get":{"tags":["Banner"],"summary":"Banner COUNT","description":"Banner cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested banners per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"banner search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Banner"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["banner_read"]}]}},"\/admin-api\/banners\/{id}":{"get":{"tags":["Banner"],"summary":"Banner GET","description":"Banner getAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Banner"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["banner_read"]}]},"put":{"tags":["Banner"],"summary":"Banner PUT","description":"Banner putAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Banner"}}}},"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Banner"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["banner_update"]}]},"delete":{"tags":["Banner"],"summary":"Banner DELETE","description":"Banner deleteAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"204":{"description":"Silme iste\u011fi ba\u015far\u0131 ile sonu\u00e7land\u0131. (cevapta i\u00e7erik bulunmaz.)","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Banner"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["banner_delete"]}]}},"\/admin-api\/batch":{"post":{"tags":["Batch"],"summary":"Batch POST","description":"Batch postAction","responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131."}},"security":[{"bearerAuth":[]}]}},"\/admin-api\/billing_addresses":{"get":{"tags":["BillingAddress"],"summary":"BillingAddress LIST","description":"BillingAddress cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested Billing Address per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"BillingAddress search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"order","in":"query","description":"Order Id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BillingAddress"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["order_read"]}]},"post":{"tags":["BillingAddress"],"summary":"BillingAddress POST","description":"BillingAddress postAction","requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BillingAddress"}}}},"responses":{"201":{"description":"Olu\u015fturma i\u015flemi (POST) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BillingAddress"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["order_create"]}]}},"\/admin-api\/billing_addresses\/count":{"get":{"tags":["BillingAddress"],"summary":"BillingAddress COUNT","description":"BillingAddress cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested Billing Address per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"BillingAddress search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"order","in":"query","description":"Order Id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BillingAddress"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["order_read"]}]}},"\/admin-api\/billing_addresses\/{id}":{"get":{"tags":["BillingAddress"],"summary":"BillingAddress GET","description":"BillingAddress getAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BillingAddress"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["order_read"]}]},"put":{"tags":["BillingAddress"],"summary":"BillingAddress PUT","description":"BillingAddress putAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BillingAddress"}}}},"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BillingAddress"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["order_update"]}]}},"\/admin-api\/blacklists":{"get":{"tags":["Blacklist"],"summary":"Blacklist LIST","description":"Blacklist cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested Blacklists per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"Blacklist search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Blacklist"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blacklist_read"]}]}},"\/admin-api\/blacklists\/count":{"get":{"tags":["Blacklist"],"summary":"Blacklist COUNT","description":"Blacklist cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested Blacklists per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"Blacklist search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Blacklist"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blacklist_read"]}]}},"\/admin-api\/blacklists\/{id}":{"get":{"tags":["Blacklist"],"summary":"Blacklist GET","description":"Blacklist getAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Blacklist"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blacklist_read"]}]},"delete":{"tags":["Blacklist"],"summary":"Blacklist DELETE","description":"Blacklist deleteAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"204":{"description":"Silme iste\u011fi ba\u015far\u0131 ile sonu\u00e7land\u0131. (cevapta i\u00e7erik bulunmaz.)","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Blacklist"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blacklist_delete"]}]}},"\/admin-api\/blocks":{"get":{"tags":["Block"],"summary":"Block LIST","description":"Block cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested blocks per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"Block search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Block"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["block_read"]}]},"post":{"tags":["Block"],"summary":"Block POST","description":"Block postAction","requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Block"}}}},"responses":{"201":{"description":"Olu\u015fturma i\u015flemi (POST) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Block"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["block_create"]}]}},"\/admin-api\/blocks\/count":{"get":{"tags":["Block"],"summary":"Block COUNT","description":"Block cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested blocks per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"Block search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Block"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["block_read"]}]}},"\/admin-api\/blocks\/{id}":{"get":{"tags":["Block"],"summary":"Block GET","description":"Block getAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Block"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["block_read"]}]},"put":{"tags":["Block"],"summary":"Block PUT","description":"Block putAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Block"}}}},"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Block"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["block_update"]}]},"delete":{"tags":["Block"],"summary":"Block DELETE","description":"Block deleteAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"204":{"description":"Silme iste\u011fi ba\u015far\u0131 ile sonu\u00e7land\u0131. (cevapta i\u00e7erik bulunmaz.)","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Block"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["block_delete"]}]}},"\/admin-api\/blog_categories":{"get":{"tags":["BlogCategory"],"summary":"BlogCategory LIST","description":"BlogCategory cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested BlogCategories per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"parent","in":"query","description":"Parent Id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"startCreatedAt","in":"query","description":"Start of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"endCreatedAt","in":"query","description":"End of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"startUpdatedAt","in":"query","description":"Start of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"endUpdatedAt","in":"query","description":"End of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"BlogCategory search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BlogCategory"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blog_category_read"]}]},"post":{"tags":["BlogCategory"],"summary":"BlogCategory POST","description":"BlogCategory postAction","requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BlogCategory"}}}},"responses":{"201":{"description":"Olu\u015fturma i\u015flemi (POST) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BlogCategory"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blog_category_create"]}]}},"\/admin-api\/blog_categories\/count":{"get":{"tags":["BlogCategory"],"summary":"BlogCategory COUNT","description":"BlogCategory cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested BlogCategories per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"parent","in":"query","description":"Parent Id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"startCreatedAt","in":"query","description":"Start of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"endCreatedAt","in":"query","description":"End of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"startUpdatedAt","in":"query","description":"Start of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"endUpdatedAt","in":"query","description":"End of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"BlogCategory search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BlogCategory"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blog_category_read"]}]}},"\/admin-api\/blog_categories\/{id}":{"get":{"tags":["BlogCategory"],"summary":"BlogCategory GET","description":"BlogCategory getAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BlogCategory"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blog_category_read"]}]},"put":{"tags":["BlogCategory"],"summary":"BlogCategory PUT","description":"BlogCategory putAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BlogCategory"}}}},"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BlogCategory"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blog_category_update"]}]},"delete":{"tags":["BlogCategory"],"summary":"BlogCategory DELETE","description":"BlogCategory deleteAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"204":{"description":"Silme iste\u011fi ba\u015far\u0131 ile sonu\u00e7land\u0131. (cevapta i\u00e7erik bulunmaz.)","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BlogCategory"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blog_category_delete"]}]}},"\/admin-api\/blog_categories\/tree":{"get":{"tags":["BlogCategory"],"summary":"BlogCategory GET","description":"BlogCategory treeAction","parameters":[{"name":"limit","in":"query","description":"Number of requested Blog Categories per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"Blog search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131."}},"security":[{"bearerAuth":[]},{"OAuth2":["blog_category_read"]}]}},"\/admin-api\/blog_categories\/search_tree":{"get":{"tags":["BlogCategory"],"summary":"BlogCategory GET","description":"BlogCategory searchTreeAction","parameters":[{"name":"limit","in":"query","description":"Number of requested Blog Categories per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"Blog Category search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"parent","in":"query","description":"Parent Id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131."}},"security":[{"bearerAuth":[]},{"OAuth2":["blog_category_read"]}]}},"\/admin-api\/blog_comment_pref":{"get":{"tags":["BlogCommentPref"],"summary":"BlogCommentPref GET","description":"BlogCommentPref getAction","responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BlogCommentPref"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blog_comment_read"]}]},"put":{"tags":["BlogCommentPref"],"summary":"BlogCommentPref PUT","description":"BlogCommentPref putAction","requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BlogCommentPref"}}}},"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BlogCommentPref"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blog_comment_update"]}]}},"\/admin-api\/blogs":{"get":{"tags":["Blog"],"summary":"Blog LIST","description":"Blog cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested Blog per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"blogCategory","in":"query","description":"Blog category search filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"startCreatedAt","in":"query","description":"Start of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"endCreatedAt","in":"query","description":"End of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"startUpdatedAt","in":"query","description":"Start of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"endUpdatedAt","in":"query","description":"End of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"Blog search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Blog"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blog_read"]}]},"post":{"tags":["Blog"],"summary":"Blog POST","description":"Blog postAction","requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Blog"}}}},"responses":{"201":{"description":"Olu\u015fturma i\u015flemi (POST) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Blog"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blog_create"]}]}},"\/admin-api\/blogs\/count":{"get":{"tags":["Blog"],"summary":"Blog COUNT","description":"Blog cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested Blog per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"blogCategory","in":"query","description":"Blog category search filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"startCreatedAt","in":"query","description":"Start of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"endCreatedAt","in":"query","description":"End of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"startUpdatedAt","in":"query","description":"Start of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"endUpdatedAt","in":"query","description":"End of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"Blog search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Blog"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blog_read"]}]}},"\/admin-api\/blogs\/{id}":{"get":{"tags":["Blog"],"summary":"Blog GET","description":"Blog getAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Blog"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blog_read"]}]},"put":{"tags":["Blog"],"summary":"Blog PUT","description":"Blog putAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Blog"}}}},"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Blog"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blog_update"]}]},"delete":{"tags":["Blog"],"summary":"Blog DELETE","description":"Blog deleteAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"204":{"description":"Silme iste\u011fi ba\u015far\u0131 ile sonu\u00e7land\u0131. (cevapta i\u00e7erik bulunmaz.)","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Blog"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blog_delete"]}]}},"\/admin-api\/blog_tags":{"get":{"tags":["BlogTag"],"summary":"BlogTag LIST","description":"BlogTag cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested BlogTags per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"BlogTag search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BlogTag"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blog_tag_read"]}]},"post":{"tags":["BlogTag"],"summary":"BlogTag POST","description":"BlogTag postAction","requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BlogTag"}}}},"responses":{"201":{"description":"Olu\u015fturma i\u015flemi (POST) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BlogTag"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blog_tag_create"]}]}},"\/admin-api\/blog_tags\/count":{"get":{"tags":["BlogTag"],"summary":"BlogTag COUNT","description":"BlogTag cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested BlogTags per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"BlogTag search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BlogTag"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blog_tag_read"]}]}},"\/admin-api\/blog_tags\/{id}":{"get":{"tags":["BlogTag"],"summary":"BlogTag GET","description":"BlogTag getAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BlogTag"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blog_tag_read"]}]},"put":{"tags":["BlogTag"],"summary":"BlogTag PUT","description":"BlogTag putAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BlogTag"}}}},"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BlogTag"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blog_tag_update"]}]},"delete":{"tags":["BlogTag"],"summary":"BlogTag DELETE","description":"BlogTag deleteAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"204":{"description":"Silme iste\u011fi ba\u015far\u0131 ile sonu\u00e7land\u0131. (cevapta i\u00e7erik bulunmaz.)","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/BlogTag"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["blog_tag_delete"]}]}},"\/admin-api\/brands":{"get":{"tags":["Brand"],"summary":"Brand LIST","description":"Brand cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested Brands per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"distributor","in":"query","description":"Brand Distributor","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"displayShowcaseContent","in":"query","description":"displayShowcaseContent can be 0 1 or 2 ","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"displayShowcaseFooterContent","in":"query","description":"displayShowcaseFooterContent can be 0 1 or 2","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"Brand search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Brand"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["brand_read"]}]},"post":{"tags":["Brand"],"summary":"Brand POST","description":"Brand postAction","requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Brand"}}}},"responses":{"201":{"description":"Olu\u015fturma i\u015flemi (POST) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Brand"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["brand_create"]}]}},"\/admin-api\/brands\/count":{"get":{"tags":["Brand"],"summary":"Brand COUNT","description":"Brand cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested Brands per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"distributor","in":"query","description":"Brand Distributor","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"displayShowcaseContent","in":"query","description":"displayShowcaseContent can be 0 1 or 2 ","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"displayShowcaseFooterContent","in":"query","description":"displayShowcaseFooterContent can be 0 1 or 2","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"Brand search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Brand"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["brand_read"]}]}},"\/admin-api\/brands\/{id}":{"get":{"tags":["Brand"],"summary":"Brand GET","description":"Brand getAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Brand"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["brand_read"]}]},"put":{"tags":["Brand"],"summary":"Brand PUT","description":"Brand putAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Brand"}}}},"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Brand"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["brand_update"]}]},"delete":{"tags":["Brand"],"summary":"Brand DELETE","description":"Brand deleteAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"204":{"description":"Silme iste\u011fi ba\u015far\u0131 ile sonu\u00e7land\u0131. (cevapta i\u00e7erik bulunmaz.)","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Brand"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["brand_delete"]}]}},"\/admin-api\/brands\/integration_distributors":{"get":{"tags":["Brand"],"summary":"Brand GET","description":"Brand getUsedIntegrationDistributors","responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131."}},"security":[{"bearerAuth":[]},{"OAuth2":["product_showcase_update"]}]}},"\/admin-api\/carts\/{id}":{"get":{"tags":["Cart"],"summary":"Cart GET","description":"Cart getAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Cart"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["order_read"]}]}},"\/admin-api\/categories":{"get":{"tags":["Category"],"summary":"Category LIST","description":"Category cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested Categories per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"parent","in":"query","description":"Parent Id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"displayShowcaseContent","in":"query","description":"displayShowcaseContent can be 0 or 1","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"displayShowcaseFooterContent","in":"query","description":"displayShowcaseFooterContent can be 0 or 1","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"distributor","in":"query","description":"Category Distributor","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"startCreatedAt","in":"query","description":"Start of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"endCreatedAt","in":"query","description":"End of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"startUpdatedAt","in":"query","description":"Start of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"endUpdatedAt","in":"query","description":"End of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"Category search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Category"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["category_read"]}]},"post":{"tags":["Category"],"summary":"Category POST","description":"Category postAction","requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Category"}}}},"responses":{"201":{"description":"Olu\u015fturma i\u015flemi (POST) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Category"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["category_create"]}]}},"\/admin-api\/categories\/count":{"get":{"tags":["Category"],"summary":"Category COUNT","description":"Category cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested Categories per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"parent","in":"query","description":"Parent Id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"displayShowcaseContent","in":"query","description":"displayShowcaseContent can be 0 or 1","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"displayShowcaseFooterContent","in":"query","description":"displayShowcaseFooterContent can be 0 or 1","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"distributor","in":"query","description":"Category Distributor","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"startCreatedAt","in":"query","description":"Start of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"endCreatedAt","in":"query","description":"End of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"startUpdatedAt","in":"query","description":"Start of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"endUpdatedAt","in":"query","description":"End of the time frame","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"Category search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Category"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["category_read"]}]}},"\/admin-api\/categories\/{id}":{"get":{"tags":["Category"],"summary":"Category GET","description":"Category getAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Category"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["category_read"]}]},"put":{"tags":["Category"],"summary":"Category PUT","description":"Category putAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Category"}}}},"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Category"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["category_update"]}]},"delete":{"tags":["Category"],"summary":"Category DELETE","description":"Category deleteAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"204":{"description":"Silme iste\u011fi ba\u015far\u0131 ile sonu\u00e7land\u0131. (cevapta i\u00e7erik bulunmaz.)","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Category"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["category_delete"]}]}},"\/admin-api\/categories\/search_tree":{"get":{"tags":["Category"],"summary":"Category GET","description":"Category searchTreeAction","parameters":[{"name":"limit","in":"query","description":"Number of requested Categories per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"Category search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"parent","in":"query","description":"Parent Id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131."}},"security":[{"bearerAuth":[]},{"OAuth2":["category_read"]}]}},"\/admin-api\/category_mappings":{"get":{"tags":["CategoryMapping"],"summary":"CategoryMapping LIST","description":"CategoryMapping cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested Product Mappings per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"category","in":"query","description":"Category Id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"type","in":"query","description":"Type Filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"CategoryMapping search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/CategoryMapping"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["category_read"]}]},"post":{"tags":["CategoryMapping"],"summary":"CategoryMapping POST","description":"CategoryMapping postAction","requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/CategoryMapping"}}}},"responses":{"201":{"description":"Olu\u015fturma i\u015flemi (POST) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/CategoryMapping"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["category_create"]}]}},"\/admin-api\/category_mappings\/count":{"get":{"tags":["CategoryMapping"],"summary":"CategoryMapping COUNT","description":"CategoryMapping cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested Product Mappings per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"category","in":"query","description":"Category Id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"id","in":"query","description":"Get result by id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"type","in":"query","description":"Type Filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"CategoryMapping search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/CategoryMapping"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["category_read"]}]}},"\/admin-api\/category_mappings\/{id}":{"get":{"tags":["CategoryMapping"],"summary":"CategoryMapping GET","description":"CategoryMapping getAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/CategoryMapping"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["category_read"]}]},"delete":{"tags":["CategoryMapping"],"summary":"CategoryMapping DELETE","description":"CategoryMapping deleteAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"204":{"description":"Silme iste\u011fi ba\u015far\u0131 ile sonu\u00e7land\u0131. (cevapta i\u00e7erik bulunmaz.)","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/CategoryMapping"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["category_delete"]}]}},"\/admin-api\/checkout_design_pref":{"get":{"tags":["CheckoutDesignPref"],"summary":"CheckoutDesignPref LIST","description":"CheckoutDesignPref cgetAction","responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/CheckoutDesignPref"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["checkout_design_pref_read"]}]},"put":{"tags":["CheckoutDesignPref"],"summary":"CheckoutDesignPref PUT","description":"CheckoutDesignPref putAction","requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/CheckoutDesignPref"}}}},"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/CheckoutDesignPref"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["checkout_design_pref_update"]}]}},"\/admin-api\/checkout_design_pref\/delete_image\/{type}":{"delete":{"tags":["CheckoutDesignPref"],"summary":"CheckoutDesignPref DELETE","description":"CheckoutDesignPref deleteImageAction","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string","default":"null","pattern":"\\w+"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131."}},"security":[{"bearerAuth":[]},{"OAuth2":["checkout_design_pref_delete"]}]}},"\/admin-api\/clients":{"get":{"tags":["Client"],"summary":"Client LIST","description":"Client cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested Shipments per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"randomId","in":"query","description":"random_id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"name","in":"query","description":"name","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"Client search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Client"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["api_read"]}]},"post":{"tags":["Client"],"summary":"Client POST","description":"Client postAction","requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Client"}}}},"responses":{"201":{"description":"Olu\u015fturma i\u015flemi (POST) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Client"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["api_create"]}]}},"\/admin-api\/clients\/count":{"get":{"tags":["Client"],"summary":"Client COUNT","description":"Client cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested Shipments per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"randomId","in":"query","description":"random_id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"name","in":"query","description":"name","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"Client search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"s","in":"query","description":"Search key filter.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Client"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["api_read"]}]}},"\/admin-api\/clients\/{id}":{"get":{"tags":["Client"],"summary":"Client GET","description":"Client getAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Client"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["api_read"]}]},"put":{"tags":["Client"],"summary":"Client PUT","description":"Client putAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Client"}}}},"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Client"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["api_update"]}]},"delete":{"tags":["Client"],"summary":"Client DELETE","description":"Client deleteAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"204":{"description":"Silme iste\u011fi ba\u015far\u0131 ile sonu\u00e7land\u0131. (cevapta i\u00e7erik bulunmaz.)","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Client"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["api_delete"]}]}},"\/admin-api\/client_permissions":{"get":{"tags":["ClientPermission"],"summary":"ClientPermission LIST","description":"ClientPermission cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested Shipments per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"client","in":"query","description":"Client Id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"ClientPermission search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ClientPermission"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["api_read"]}]},"post":{"tags":["ClientPermission"],"summary":"ClientPermission POST","description":"ClientPermission postAction","requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ClientPermission"}}}},"responses":{"201":{"description":"Olu\u015fturma i\u015flemi (POST) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ClientPermission"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["api_create"]}]}},"\/admin-api\/client_permissions\/count":{"get":{"tags":["ClientPermission"],"summary":"ClientPermission COUNT","description":"ClientPermission cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested Shipments per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"ids","in":"query","description":"Get multiple result by ids","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"client","in":"query","description":"Client Id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"q","in":"query","description":"ClientPermission search filter. Usage: q[<valid-query-param>]","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ClientPermission"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["app_store_read"]}]}},"\/admin-api\/client_permissions\/{id}":{"get":{"tags":["ClientPermission"],"summary":"ClientPermission GET","description":"ClientPermission getAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ClientPermission"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["api_read"]}]},"put":{"tags":["ClientPermission"],"summary":"ClientPermission PUT","description":"ClientPermission putAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ClientPermission"}}}},"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ClientPermission"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["api_update"]}]},"delete":{"tags":["ClientPermission"],"summary":"ClientPermission DELETE","description":"ClientPermission deleteAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"204":{"description":"Silme iste\u011fi ba\u015far\u0131 ile sonu\u00e7land\u0131. (cevapta i\u00e7erik bulunmaz.)","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ClientPermission"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["api_delete"]}]}},"\/admin-api\/client_webhooks":{"get":{"tags":["ClientWebhook"],"summary":"ClientWebhook LIST","description":"ClientWebhook cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested webhooks per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"topic","in":"query","description":"Webhook Topic.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ClientWebhook"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["api_read"]}]},"post":{"tags":["ClientWebhook"],"summary":"ClientWebhook POST","description":"ClientWebhook postAction","requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ClientWebhook"}}}},"responses":{"201":{"description":"Olu\u015fturma i\u015flemi (POST) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ClientWebhook"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["api_create"]}]}},"\/admin-api\/client_webhooks\/count":{"get":{"tags":["ClientWebhook"],"summary":"ClientWebhook COUNT","description":"ClientWebhook cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested webhooks per page","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"20"}},{"name":"page","in":"query","description":"Which page to start from","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"1"}},{"name":"sinceId","in":"query","description":"Restrict results to after the specified id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"topic","in":"query","description":"Webhook Topic.","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ClientWebhook"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["api_read"]}]}},"\/admin-api\/client_webhooks\/{id}":{"get":{"tags":["ClientWebhook"],"summary":"ClientWebhook GET","description":"ClientWebhook getAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ClientWebhook"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["api_read"]}]},"put":{"tags":["ClientWebhook"],"summary":"ClientWebhook PUT","description":"ClientWebhook putAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"requestBody":{"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ClientWebhook"}}}},"responses":{"200":{"description":"\u0130\u015flem (GET veya PUT) ba\u015far\u0131 ile sonu\u00e7land\u0131.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ClientWebhook"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["api_update"]}]},"delete":{"tags":["ClientWebhook"],"summary":"ClientWebhook DELETE","description":"ClientWebhook deleteAction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","default":0,"pattern":"\\d+"}}],"responses":{"204":{"description":"Silme iste\u011fi ba\u015far\u0131 ile sonu\u00e7land\u0131. (cevapta i\u00e7erik bulunmaz.)","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ClientWebhook"}}}}},"security":[{"bearerAuth":[]},{"OAuth2":["api_delete"]}]}},"\/admin-api\/combine_products":{"get":{"tags":["CombineProduct"],"summary":"CombineProduct LIST","description":"CombineProduct cgetAction","parameters":[{"name":"sort","in":"query","description":"Example sort=id","required":false,"allowEmptyValue":true,"schema":{"type":"string","default":"null"}},{"name":"limit","in":"query","description":"Number of requested Combine Products per page","required":false,"allowEmptyValue":true,"schema":{"type":"stri
[...]
